body {
    background-image: url("./bg.png");
    color: antiquewhite;
    font-size: small;
}

.wrapper {
    background-image: url("./wrapper.png");
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: 400px;
}

.busch {
    position: relative;
    left: -70px;
    top: -60px;
}

.gifts {
    position: relative;
    left: 365px;
    bottom: 265px;
}

.fire {
    position: relative;
    left: 325px;
    bottom: 160px;
}

.star1{
    position: relative;
    left: 100px;
    top: -590px;
}

.star2{
    position: relative;
    left: 230px;
    top: -660px;
}

.star3{
    position: relative;
    left: 360px;
    top: -620px;
}

.text {
    position: relative;
    left: 50px;
    top: -640px;
    width: 350px;
}