body {
    background-image: url("./bg.png");
    color: antiquewhite;
    font-size: medium;
}

.wrapper {
    background-image: url("./bgwrapperbg.png");
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: 400px;
}

.busch {
    position: relative;
    left: -70px;
    top: -60px;
}

.pinguin {
    position: relative;
    left: 470px;
    bottom: 0px;
}
nav{
    padding: 10px;   
    background-color: rgb(4, 66, 4);
    width: 310px;
    height: 15px;
    position: relative;
    left: 130px;
    top: -20px;
}

a {
    text-decoration: none;
    color: honeydew;
}

a:hover {
    color: rgb(199, 0, 0);
}