body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    color: rgb(65, 65, 65);
}

.kasten {
    position: absolute;
    top: 5%;
    left: 30%;
}

.headline {
    position: relative;
    top: 0px;
    left: -10px;
    font-size: 50px;
}

.numberoftasks {
    position: relative;
    top: -50px;
    left: 0px;
    width: 80px;
}

.input {
    position: relative;
    left: -10px;
    top: -50px;
}

.newtasks {
    position: relative;
    width: 300px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    
}

.addTask {
    position: relative;
    left: -20px;
    width: 50px;
}

.todos {
    text-align: center;
    position: relative;
    top: -71px;
    left: -10px;
    width: 200px;
}

.tasks {
    text-align: center;
    position: relative;
    top: 20px;
    left: 0px;
    background-color: white;
    margin: 2px;
    border: grey;
    width: 302px;
    height: 35px;
}

#check {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 25px;
    color: grey;
}

#delete {
    position: relative;
    top: 2px;
    left: -35px;
    font-size: 20px;
    color: grey;
}