section {
    width: 800px;
    margin: auto;
    }

body {
    width: 800px;
    margin: auto;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: medium;
    background-image: url("./bg.png");
    }

header {
    top: 0px;
    }

nav {
    position: fixed;
    right: 200px;
    top: 0px;
    }

.visited {
    font-size: 20px;
    color:white;
    background:black;
    display: block;
    margin: 0px;
    padding: 4px;
    text-align: center;
    float: left;
}

.navbar {
    font-size: 20px;
    color:black;
    background:white;
    display: block;
    margin: 0px;
    padding: 4px;
    text-align: center;
    float: left;
}

a {
    color: black;    
    text-decoration: none;
    }

a:hover {
    color: rgb(69, 169, 182);
}

a>img:hover {
    background-color: rgb(69, 169, 182);
    border-radius: 5px;
}

.icon {
    position: absolute;
    top: 35px;
    right: 204px;
}

.float_right {
    float: right;
    background-color: none;
}

.float_left {
    float: left;
    background-color: none;
}

form {
    display: block;
    margin-top: 0px;
    width: 450px;
}
input {
    width: 270px;
    height: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
    color: white;
    background-color: black;
    padding-left: 20px;
    margin-bottom: 5px;
    border: 0,5px solid, white;

}
textarea {
    width: 550px;
    height: 60px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    background-color: black;
}

.input_button {
    width: 100px;
    height: 30px;
    text-align: center;
}

.datenschutz {
    font-size: small;
    width: 550px;
}
